## Project 6: EDA from Scratch

Author: [Chau Palma]

Repository: [Datafun-06-eda] https://github.com/chaupalma81-commits/datafun-06-eda

Purpose: Demonstrate my ability to create a project from scratch, importing a dataset, inspecting it, and executing EDA.

Date: 2026-02-16

# Dataset Information

Dataset: Dowjones

Description: Dowjones industrial stock price index for USA from 1914-1968

Source: Imported from Seaborn

Citation: https://fred.stlouisfed.org/series/M1109BUSM293NNBR

Access: Available from Seaborn

# Section 1: Importing Libraries

In [2]:
# Importing data sources and visualization libraries

from matplotlib.axes import Axes  # noqa: F401
from matplotlib.figure import Figure  # noqa: F401
import matplotlib.pyplot as plt  # noqa: F401
import numpy as np  # noqa: F401
import pandas as pd
import seaborn as sns

# Pandas display configuration (helps in notebooks)
pd.set_option("display.max_columns", 50)
pd.set_option("display.width", 120)

print("Imports complete.")

print(sns.get_dataset_names())

Imports complete.
['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

# Section 2: Loading Dataset

In [3]:
# Loading the dowjones dataset from seaborn's built-in datasets
dowjones = sns.load_dataset("dowjones")

# Displaying the first few rows of the dowjones dataset
print(dowjones.head())
print("Dow Jones dataset loaded.")

        Date  Price
0 1914-12-01  55.00
1 1915-01-01  56.55
2 1915-02-01  56.00
3 1915-03-01  58.30
4 1915-04-01  66.45
Dow Jones dataset loaded.

# Section 3: Inspecting Data shape and structure.

In [ ]:
# Getting the shape of the dowjones dataset
shape: tuple[int, int] = dowjones.shape

# Printing the shape of the dowjones dataset
print(f"The dowjones dataset has {shape[0]} rows and {shape[1]} columns.")

The dowjones dataset has 649 rows and 2 columns.

In [7]:
# Displaying Column names and their data types

dowjones.info()

<class 'pandas.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    649 non-null    datetime64[us]
 1   Price   649 non-null    float64
dtypes: datetime64[us](1), float64(1)
memory usage: 10.3 KB